header{
    background-color: #f6f9f9;
    
}

.nav-link{
    text-transform: uppercase;
    font-weight: 500; 
    color: #2d3950;
    }

    .banner{
        background-image: url(../images/banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 90vh;
        position: relative;
    }

    .banner_content{

text-align: center;

width: 35%;

position: absolute;

left: 50%;

top: 50%;

transform: translate(-50%, -50%);

}
    .banner_content h1{
     
color: #fff;
     
text-transform: uppercase;
     
font-size: 100px;
     
text-align: center;
    }
    .banner_content span{
        
display: block;
        
width: 100%;
        
height: 2px;
        
background: #f6f9f9;
    }
    .banner_content p{
        
/* border: none; */
        
color: #fff;
        
/* background: transparent; */
    }
    .banner_content button{       
background: transparent; 
border: none;    
color: #fff;  
text-transform: capitalize;        
border: 1px solid #fff;        
padding: 0;       
padding: 7px 20px;        
border-radius: 4px;
transition: .4s all ease-in-out;
    } 
    .banner_content button:hover{
        background-color: blue;
    }


.icon{

position: absolute;

left: 52%;

transform: translate(-50px, 0px);

bottom: 120px;

color: #fff;

font-size: 20px;
animation: updown 1.5s linear infinite;
animation-direction: alternate;

}

.icon i{
    
}

@keyframes updown {
    0%{
        bottom: 120px;
    }
100%{
    bottom: 150px; 
}

}

    .simple_section{
        background-color: #f6f9f9;
        text-align: center;
    }

    .icon_box{

height: 60px;

width: 60px;

background: red;

text-align: center;

line-height: 60px;

color: #fff;

margin: auto;

/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4096ee+0,4096ee+50,5fc3ff+50,5fc3ff+50,4096ee+100 */
background: #4096ee; /* Old browsers */
background: -moz-linear-gradient(left,  #4096ee 0%, #4096ee 50%, #5fc3ff 50%, #5fc3ff 50%, #4096ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #4096ee 0%,#4096ee 50%,#5fc3ff 50%,#5fc3ff 50%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #4096ee 0%,#4096ee 50%,#5fc3ff 50%,#5fc3ff 50%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 */

}

    .feature{

    }

    .feature h3{
        
text-align: center;
        
font-size: 20px;
        
margin: 10px 0;
    }

    .feature p{
        
text-align: center;
    }

    .image{
        position:relative;
    }
    .image::before{
        content:'';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height:100%;
        background: red;
        opacity:.5;
        transition: .4s all ease-in-out;
    }

    .image:hover::before {
        width: 100%;
    }

    .contact{
        background-image: url(../images/form-pic.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
    }

    .btn-send{

color: #fff;

background:transparent;

padding: 4px 20px;

border-radius: 0;
border: 1px solid #15a4fa;

}

.btn-send:hover{
    background-color: #15a4fa;
    color: #fff;
}

.subscribe{

    display: flex;

    justify-content: space-between;

}

.check{
        
    display: flex;
            
    color: #fff;
            
    align-items: center;
    }

.check p{
    
margin: 0;
    
margin-left: 10px;
}

.contact form input{
    background: transparent;
}

.contact form input::placeholder{
    color: #fff;
}

.contact form input textarea::placeholder{
    color: #fff;
}

.contact form textarea{
    background: transparent;
}

.contact ::before{

content: '';

position: absolute;

left: 0;

top:0;

width: 100%;

height: 100%;

background-color: #2d3950;

opacity: .8;

z-index: -1;
}

.contact h2, .contact p{
    color: #fff;
}

footer{

background: #f9f9f9;

padding: 20px 0;
}

.copy ul{
    
margin: 0;
    
padding: 0;
    
list-style: none;
}
.copy ul li{

}

.social_icon{

margin: 0;

padding: 0;

list-style: none;

display: flex;

justify-content: end;
}

.social_icon ul{
    
margin: 0;
    
padding: 0;
    
display: flex;
    
list-style: none;
    
justify-content: end;
}

.social_icon ul li{
    
height: 36px;
    
width: 36px;
    
background: red;
    
margin-left: 15px;
    
text-align: center;
    
line-height: 30px;
    
/* text-decoration: none; */
}

.social_icon ul li a{
    
color: #fff;
    
text-decoration: none;
    
/* margin-left: 13px; */
}